.wrapper {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

a,
.crew-table,
.gallery-item:after {
  transition: all 0.3s ease;
}

.med-blue,
.light-blue,
.white {
  position: relative;
  padding: 60px 0;
}

.first-section {
  padding-top: 90px;
}

.med-blue,
.light-blue {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.med-blue {
  background-color: $mdblue;
  background: linear-gradient(
    to bottom,
    darken($mdblue, 10),
    $mdblue 80%,
    $mdblue
  );
  z-index: 30;

  &:after {
    @include logo-circle($mdblue, white);
  }
}

.light-blue {
  background-color: $vltblue;
  background: linear-gradient(
    to bottom,
    darken($vltblue, 7),
    $vltblue 80%,
    $vltblue
  );
  z-index: 20;

  &:after {
    @include logo-circle($vltblue, blue);
  }
}

.white {
  padding-bottom: 80px;
  background-color: #ffffff;
  background: linear-gradient(
    to bottom,
    lighten($ltblue, 25),
    #ffffff 80%,
    #ffffff
  );
  z-index: 10;

  &:after {
    @include logo-circle($dkblue, white);
  }
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .span-one:last-of-type {
    margin-left: 25px;
  }
}

.span-two {
  flex-basis: 100%;
}

.span-one {
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
}

@supports (display: grid) {
  .two-column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: start;
    grid-column-gap: 25px;
    margin-bottom: 40px;

    & .span-one:last-of-type {
      margin-left: 0;
    }
  }

  .span-two {
    grid-column: 1 / -1;
  }
}

.span-two h3 {
  margin-bottom: 25px;
}

.span-one p:first-child {
  margin-top: 0;
}

.body-social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 30px;
  }
}

.strava-embed {
  margin: 20px 0 30px;
}

.callout {
  background-color: $vltblue;
  padding: 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 10px;

  & p {
    color: $mdblue;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
  }
}

.insta-embed {
  background-color: $vltblue;
  padding: 25px;

  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.insta-photo img {
  width: 100%;
  height: 100%;
}
