.crew-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;

  & p {
    text-align: center;
  }
}

.column {
  grid-column-end: -1;
}

.left-column {
  grid-row: span 2;
}

.crew-table-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  align-items: start;
}

.crew-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;

  list-style: none;
  color: #ffffff;
  font-family: $base-font;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;

  &:nth-of-type(2n + 2) {
    background-color: lighten($mdblue, 10);
  }

  &:hover {
    background-color: lighten($mdblue, 20);
  }
}

.row {
  padding: 10px 0;
}

.head {
  border-bottom: 1px solid #ffffff;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
