$base-font: "Lato", sans-serif;
$heading-font: "Oswald", sans-serif;

$dkblue: #102f57;
$mdblue: #1d4988;
$mdltblue: #3273d2;
$ltblue: #88b8ed;
$vltblue: lighten($ltblue, 20);
$bluegrey: #334357;
$gold: #d49e37;
