doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block title
      title Running Rats Run Club
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Oswald:300,700')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.1/css/all.css')
    link(rel='stylesheet', href='../src/styles/styles.scss')
  body
    block content
    script(src='../src/js/index.js')
