.contact-form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 25px;
	margin-bottom: 50px;
}

.full-width {
	grid-column: 1 / -1;
}

.input-label {
	display: block;
	color: $ltblue;
	font-family: $base-font;
	font-size: 0.8rem;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 10px;
}

.form-error {
	font-size: 0.8rem;
	margin-top: 5px;
	color: red;
	font-weight: 700;
	opacity: 0;
}

.form-input, .form-body {

	width: 100%;
	padding: 5px 10px;
	border: none;

	color: $ltblue;
	font-family: $base-font;
	font-style: italic;
	font-size: 1.0rem;
	&::placeholder {
		color: $ltblue;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: $ltblue;
	}
	&::ms-input-placeholder {
		color: $ltblue;
	}
}

.form-input:invalid {
	margin: 3px solid red;
}

// .form-input:invalid + .form-error {
// 	opacity: 1;;
// }

.submit-button {
	background-color: $ltblue;
	border: none;
	border-radius: 15px;
	color: #ffffff;
	font-family: $base-font;
	font-size: 1.0rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;

	justify-self: start;
	padding: 10px 40px;
	transition: all ease .3s;
	&:hover {
		background-color: $vltblue;
		color: $mdblue;
	}
}

#g-recaptcha-response {
	display: block !important;
	position: absolute;
	margin: -50px 0 0 0 !important;
	z-index: -999999;
	opacity: 0;
}
