@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

p, .body-list {
  color: #334357;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
}

.body-list {
  padding-left: 15px;
}

.body-list li {
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #102f57;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 4.2rem;
  color: #ffffff;
  margin-top: 60px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h5 {
  color: #1d4988;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  margin: 10px 0 0;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  color: #1d4988;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 10px 0 0;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.small-text {
  font-size: 0.75rem;
}

.body-link {
  color: #1d4988;
  text-decoration: none;
  border-bottom: 1px dotted #1d4988;
}

.body-link:hover, .body-link:focus {
  color: #88b8ed;
  border-bottom: 1px dotted #88b8ed;
}

.cta {
  border-radius: 15px;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0 15px;
  background-color: #1d4988;
  color: white;
  letter-spacing: 1px;
  font-size: .8rem;
  text-decoration: none;
  text-transform: uppercase;
}

.cta:hover, .cta:focus {
  background-color: #e1edfa;
  color: #102f57;
}

.intro-text {
  font-size: 1.25rem;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.6;
}

.intro-text a {
  color: #ffffff;
}

.announcement-text {
  font-size: 1.25rem;
  font-weight: 300;
  color: #102f57;
  line-height: 1.6;
}

.announcement-text a {
  color: #1d4988;
}

.alert ul {
  padding-left: 1.2rem;
  list-style: none;
}

.alert ul > li + li {
  margin-top: 0.8rem;
}

.alert li {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  color: #334357;
  position: relative;
}

.alert li::before {
  content: '•';
  position: absolute;
  font-size: 0.8rem;
  color: #1d4988;
  left: -1.2rem;
  top: 0.1rem;
}

.light {
  font-weight: 300;
}

.center {
  text-align: center;
}

.white-text {
  color: #ffffff;
}

.header-nav-link {
  color: #88b8ed;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.header-nav-link:hover, .header-nav-link:focus {
  color: #ffffff;
}

.footer-copyright {
  color: #ffffff;
  font-size: 0.7rem;
  text-align: center;
}

.body-social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1d4988;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.body-social-links a:hover, .body-social-links a:focus {
  background-color: #88b8ed;
  color: #1d4988;
}

.footer-social-links a {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: none;
}

.footer-social-links a:hover, .footer-social-links a:focus {
  color: #88b8ed;
}

.wrapper {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

img {
  max-width: 100%;
  display: block;
}

a, .crew-table, .gallery-item:after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.med-blue, .light-blue, .white {
  position: relative;
  padding: 60px 0;
}

.first-section {
  padding-top: 90px;
}

.med-blue, .light-blue {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.med-blue {
  background-color: #1d4988;
  background: -webkit-gradient(linear, left top, left bottom, from(#14325e), color-stop(80%, #1d4988), to(#1d4988));
  background: linear-gradient(to bottom, #14325e, #1d4988 80%, #1d4988);
  z-index: 30;
}

.med-blue:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #1d4988;
  background-image: url("../images/rat-logo-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  z-index: 50;
}

@media (max-width: 768px) {
  .med-blue:after {
    width: 80px;
    height: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.light-blue {
  background-color: #e1edfa;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2daf6), color-stop(80%, #e1edfa), to(#e1edfa));
  background: linear-gradient(to bottom, #c2daf6, #e1edfa 80%, #e1edfa);
  z-index: 20;
}

.light-blue:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #e1edfa;
  background-image: url("../images/rat-logo-blue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  z-index: 50;
}

@media (max-width: 768px) {
  .light-blue:after {
    width: 80px;
    height: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.white {
  padding-bottom: 80px;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7fafe), color-stop(80%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, #f7fafe, #ffffff 80%, #ffffff);
  z-index: 10;
}

.white:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #102f57;
  background-image: url("../images/rat-logo-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  z-index: 50;
}

@media (max-width: 768px) {
  .white:after {
    width: 80px;
    height: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.two-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two-column .span-one:last-of-type {
  margin-left: 25px;
}

.span-two {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.span-one {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@supports (display: grid) {
  .two-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-column-gap: 25px;
    margin-bottom: 40px;
  }
  .two-column .span-one:last-of-type {
    margin-left: 0;
  }
  .span-two {
    grid-column: 1 / -1;
  }
}

.span-two h3 {
  margin-bottom: 25px;
}

.span-one p:first-child {
  margin-top: 0;
}

.body-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.body-social-links li {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 30px;
}

.strava-embed {
  margin: 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media (max-width: 650px) {
  .strava-embed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.callout {
  background-color: #e1edfa;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.callout p {
  color: #1d4988;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.6;
}

.alert {
  background-color: #e1edfa;
  border-radius: 10px;
  padding: 25px 40px;
  margin-bottom: 50px;
}

.insta-embed {
  background-color: #e1edfa;
  padding: 25px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}

.insta-photo img {
  width: 100%;
  height: 100%;
}

.cta-light {
  border-radius: 15px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #e1edfa;
  color: #102f57;
  font-weight: 800;
  text-decoration: none;
  border: 1px solid #e1edfa;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cta-light:hover, .cta-light:focus {
  background-color: #88b8ed;
  border-color: #102f57;
}

.long-cta {
  border-radius: 15px;
  padding: 10px 15px;
  margin: 5px auto 15px;
  width: 80%;
  background-color: #1d4988;
}

.long-cta p {
  text-align: center;
  margin: 0;
}

.long-cta a {
  color: white;
  letter-spacing: 1px;
  font-size: .8rem;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  text-transform: uppercase;
  -webkit-transition: -webkit-text-decoration-color 0.3s ease;
  transition: -webkit-text-decoration-color 0.3s ease;
  transition: text-decoration-color 0.3s ease;
  transition: text-decoration-color 0.3s ease, -webkit-text-decoration-color 0.3s ease;
}

.long-cta a:hover,
.long-cta a:focus {
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
}

.dkblue {
  color: #102f57;
}

.topline-navbar {
  background-color: #102f57;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 99;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-spacer {
  width: 80px;
}

.nav-spacer:after {
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #102f57;
  background-image: url("../images/rat-logo-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
  z-index: 50;
}

@media (max-width: 768px) {
  .nav-spacer:after {
    width: 80px;
    height: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

.hamburger {
  text-align: right;
  color: #e1edfa;
  font-size: 1.3rem;
  display: none;
}

.exit-responsive {
  font-size: 1.3rem;
  background-color: #102f57;
}

.exit-responsive, .home-link {
  display: none;
}

.homepage-header {
  position: relative;
  margin-top: 30px;
  min-height: 28vw;
  max-height: 410px;
  background-image: url("../images/banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.headline-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* position dots in carousel */
footer {
  background-color: #102f57;
  padding: 10px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-links li {
  padding-right: 25px;
}

.footer-sponsor, .footer-social-links {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer-sponsor figcaption {
  color: #ffffff;
  margin-bottom: 5px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.gallery-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tall {
  max-height: 240px;
}

@supports (display: grid) {
  .gallery {
    margin: 30px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 20px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .gallery-item {
    grid-column: span 2;
  }
  .tall {
    grid-column: span 1;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .wide {
    grid-column: span 3;
  }
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-item:after {
  content: 'click to expand!';
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d4988;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
}

.gallery-item:hover:after {
  opacity: 1;
}

.route-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.route-card {
  -ms-flex-preferred-size: 205px;
      flex-basis: 205px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 25px 25px 0;
}

@supports (display: grid) {
  .route-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    margin: 20px 0;
  }
  .route-card {
    margin: 0;
  }
}

.route-card {
  position: relative;
  min-height: 250px;
}

.route-card:hover .route-card-front,
.route-card:active .route-card-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.route-card:hover .route-card-back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.route-card-front img {
  width: 100%;
}

.route-card-front, .route-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
  background-color: #e1edfa;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.route-card-front h5, .route-card-back h5 {
  padding: 0 15px;
}

.card-overlay {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-overlay h4 {
  margin-top: 0;
}

.route-card-back {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.route-card-back h4 {
  margin-top: 0;
}

.route-card-back h5 {
  margin-top: 0.25em;
}

.route-card-back h6 {
  margin-top: 1em;
}

.route-card-back p {
  margin: 0.5em 0 0;
}

.route-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.route-links li {
  margin: 10px;
}

.route-links a {
  background-color: #1d4988;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
}

.route-links a:hover {
  background-color: #88b8ed;
}

.download-link {
  background-color: #1d4988;
  color: #ffffff;
  font-size: 0.65rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
}

.download-link:hover {
  background-color: #88b8ed;
}

.crew-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.crew-wrapper p {
  text-align: center;
}

.column {
  grid-column-end: -1;
}

.left-column {
  grid-row: span 2;
}

.crew-table-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.crew-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
}

.crew-table:nth-of-type(2n +2) {
  background-color: #2660b2;
}

.crew-table:hover {
  background-color: #3778d4;
}

.row {
  padding: 10px 0;
}

.head {
  border-bottom: 1px solid #ffffff;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-bottom: 50px;
}

.full-width {
  grid-column: 1 / -1;
}

.input-label {
  display: block;
  color: #88b8ed;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-error {
  font-size: 0.8rem;
  margin-top: 5px;
  color: red;
  font-weight: 700;
  opacity: 0;
}

.form-input, .form-body {
  width: 100%;
  padding: 10px 12px;
  border: none;
  color: #88b8ed;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
}

.form-input::-webkit-input-placeholder, .form-body::-webkit-input-placeholder {
  color: #88b8ed;
  opacity: 1;
}

.form-input:-ms-input-placeholder, .form-body:-ms-input-placeholder {
  color: #88b8ed;
  opacity: 1;
}

.form-input::-ms-input-placeholder, .form-body::-ms-input-placeholder {
  color: #88b8ed;
  opacity: 1;
}

.form-input::placeholder, .form-body::placeholder {
  color: #88b8ed;
  opacity: 1;
}

.form-input:-ms-input-placeholder, .form-body:-ms-input-placeholder {
  color: #88b8ed;
}

.form-input::ms-input-placeholder, .form-body::ms-input-placeholder {
  color: #88b8ed;
}

.form-input:invalid {
  margin: 3px solid red;
}

.submit-button {
  background-color: #88b8ed;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.0rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 14px 40px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.submit-button:hover {
  background-color: #e1edfa;
  color: #1d4988;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}

.google-form-wrapper {
  margin: 24px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 650px) {
  p, .body-list {
    font-size: 1rem;
    line-height: 1.4;
  }
  .intro-text {
    font-size: 1.15rem;
    line-height: 1.5;
  }
  h1 {
    font-size: 2.6rem;
  }
  p + .center {
    margin-top: 25px;
  }
  .alert li {
    font-size: 1rem;
  }
  .two-column {
    grid-row-gap: 25px;
    margin-bottom: 0;
  }
  .two-column .span-one:last-of-type {
    margin-left: 0;
  }
  .body-social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .body-social-links li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .callout {
    margin-bottom: 25px;
  }
  @supports (display: grid) {
    .callout {
      margin-bottom: 0;
    }
  }
  .callout p {
    font-size: 1.15rem;
    line-height: 1.5;
  }
  .callout p + p {
    margin-top: 0;
  }
  .strava-embed {
    margin: 20px auto 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .homepage-header {
    min-height: 260px;
    max-width: unset;
    background-position: center;
  }
  .gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .wide {
    grid-column: span 2;
  }
  .table-header {
    display: none;
  }
  .crew-table {
    background-color: transparent;
    text-align: left;
  }
  .crew-table:nth-of-type(2n +2) {
    background-color: transparent;
  }
  .crew-table:hover {
    background-color: transparent;
  }
  .row {
    grid-column: 1 / -1;
    padding: 0 0 5px 0;
  }
  .row:first-child {
    border-bottom: 1px solid #ffffff;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .row:nth-child(2)::before {
    content: 'Team: ';
  }
  .crew-table-wrap {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 25px;
  }
}

@media (max-width: 680px) {
  .nav-logo {
    display: none;
  }
  .topline-navbar:after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    background-color: #102f57;
    background-image: url("../images/rat-logo-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
    z-index: 50;
  }
}

@media (max-width: 680px) and (max-width: 768px) {
  .topline-navbar:after {
    width: 80px;
    height: 80px;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

@media (max-width: 680px) {
  .hamburger, .exit-responsive, .home-link {
    display: block;
  }
  .header-nav-link, .exit-responsive {
    color: #e1edfa;
  }
  .header-nav-link:hover, .header-nav-link:active, .exit-responsive:hover, .exit-responsive:active {
    color: #88b8ed;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(16, 47, 87, 0.85);
  }
  nav ul li {
    padding: 15px 20px;
    text-align: right;
  }
  .main-menu {
    display: none;
  }
  .show {
    display: block;
  }
  .submit-button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 650px) {
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
  }
  .footer-social-links li {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-sponsor {
    margin-top: 20px;
    width: 35%;
  }
  .footer-sponsor figcaption {
    text-align: center;
  }
  .footer-copyright {
    margin-top: 20px;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
}

@media (max-width: 620px) {
  .crew-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 460px) {
  .gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .wide {
    grid-column: span 1;
  }
  .gallery-item {
    grid-column: span 1;
  }
}

@media (max-width: 380px) {
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=styles.css.map */